@model APEAM.Entities.Payment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sale.Folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale.Folio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDisabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDisabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uptime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uptime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
