@model IEnumerable<APEAM.Entities.Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sale.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthExp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearExp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDisabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uptime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sale.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthExp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearExp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CVV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDisabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uptime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
